:root{
    --branco-principal: #FFFFFF;
    --cinza-secudario: #c0c0c0 ; 
    --botao-azul: #167df7;
    --cor-de-fundo: #00030c;
    --fonte-principal:'inter';  
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
}
.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain ;
    align-items: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.container__aviso{
    font-size: 12px;
    color: var(--cinza-secudario);
}
.container__titulo{
    font-size: 28px;
    font-weight: 700;

}
.container__imagem{
    margin: 1em 0 2em 0;
}
.container__caixa{
    margin: 0 6em;
}
.Secundario__imagem{
    width: 70%;
    
}   
.container__secundario{
    display: grid; grid-template-columns: 50% 50%;   
    align-items: center;
    margin: 5em 9em;
}
.descricao__titulo{
        font-weight: 700;
        font-size: 38px;
        margin-bottom: 0.1em;
} 
.descricao__texto{
    color: var(--cinza-secudario)
}
.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}
.container__descricao{
    padding: 2em;
}
.dispositivos__listas{
    display: flex ;
    justify-content: center;
    list-style-type:none ;
    margin: 1em 0;
}
.dispositivos{
    text-align: center;
}
.dispositivos__titulos{
    font-size: 45px;
    color: var(--branco-principal);
}
.lista__itens{
    font-size: 32px;
    margin: 1em;
        
} 
.rodape__lista a{
    color: var(--branco-principal);
    
      
}
.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type:none ;
    margin-top: 1em 4em;
    font-size: 16px;
}
.rodape__logo{
    padding: 2em;
}
.rodape{
    text-align: center;
    margin: 0 3em;
}  
.rodape__texto{
    font-size: 14px;
    color: var(--cinza-secundario);
    margin-left: 1em;
    margin: 1em 0  2em 0;
}
.rodape__lista a :hover{
    color: var(--botao-azul);
}